<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <h1>ExpressJS upload image using multer</h1>
      <from method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="myfile" /><br/><br/>
      <input type="submit" name="upload" value="image upload" />
      <button type="submit" class="btn">Submit</button>
      <img src="<%= typeof file != 'undefined'? file : ''%>" style= " height:300px">
    </form>
  </body>
</html>

